body {
  background: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app {
  background: #d1fdff;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px #94d4f9;
  border-radius: 16px;
  padding: 30px;
}

.weather-form-input {
  background-color: #bffdff;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 20px;
}

.weather-form-button {
  background-color: #2bf0df;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.weather-forecast-date {
  text-align: center;

  color: rgb(160, 3, 113);
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 40px;
  text-align: center;
}

.weather-forecast-temperatures {
  text-align: center;
  color: rgb(160, 3, 113);
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px;
  padding: 30px 0 0 0;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  color: #000000;
}

a {
  color: darkmagenta;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-evenly;
}

.weather-app-city {
  margin: 0%;
  font-size: 50px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  padding: 0 40px 0 40px;
  color: #000000;
}

.weather-app-details strong {
  color: rgb(160, 3, 113);
}

.temperature-details {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.weather-app-icon {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.weather-app-temperature {
  display: flex;
  justify-content: center;
  font-size: 80px;
  margin-left: 10px;
  font-weight: bold;
}

.weather-app-unit {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
